on:
  workflow_dispatch:
    inputs:
      build_command:
        description: '执行的编译命令'
        default: 'python3 build_with_bazel.py -t pineapple gki'

jobs:
  remote_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 执行终端传来的指令
        run: ${{ github.event.inputs.build_command }}